body{
    font-family: sans-serif;
   margin: 0px;
}
.container{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url("first.jpg");
    height: 95%;
    margin: 0px;
    padding: 0px;
}
img{
    height:100px;
    padding-left: 150px;
    padding-top: 0px;
}
.tophead{
    height:100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
}
.btu1{
    color:black;
    font-size: 15px;
    height: 35px;
    width:130px; 
    border-radius: 5px;
    border-color: white;
    background: none;
    margin-right: 25px;
    color: white;
}
.btu2{
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 75px;
    font-size: 15px;
}

h1{
    color: rgb(217, 222, 225);
    font-size: 3em;
    font-weight:bolder;
    
}
h2,h3,p{
    color: rgb(215, 215, 215);                             
}
.middle{
    margin-top:150px;
    text-align: center;
}
.btu-3{
    background-color: red;
    border-radius: 5px;
    width: 225px;
    height:50px;
    border: none;
    color: white;
    font-size:20px ;
    font-weight: bold;
}
.in{
    background: none;
    border-color:grey;
    width: 300px;
    border-radius: 5px;
    height: 50px;
}
hr{
    border-width: 3px;
    border-color:grey  ;
}
.container-1{
    background-color: black;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-2{
    background-color: black;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-3{
    background-color: black;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-4{
    background-color: black;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    height:400px;
    width: 400px;;
}
.footer1{
    width: auto;
    height: 60%;
    background: black;
    padding: 30px;
}

.footer1 p{
    padding-top: 30px;
    padding-left: 40px;
    color: rgb(168, 168, 168);
}

.links a{
    color: rgb(168, 168, 168);
}
.links{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer1 button{
    margin-left: 40px;
}
